.Home .lander {
  text-align: center;
  margin-top: 10px;
}

.Home .lander .splittext{
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  font-style: oblique;
  color: #009688;
  margin-bottom: 20px;
}

.Home .lander h1 {
  font-family: "Roboto";
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.Home .lander .newspaper {
  margin-top: 20px;
  margin: auto;
  max-width: 100px;
}

.Home .lander .newspaper npicon {

}

.Home .GridList {
  max-width: 500px;
  margin: auto;
}

@keyframes draw_in {
   from: {
      stroke-dashoffset: 1000;
   }
   to: {
      stroke-dashoffset: 0;
   }
}
