.NewsList .header{
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

.NewsList .header h1{
  color: #616161;
  text-shadow: 2px 2px 8px #424242;
}

.NewsList .MyList {
  text-align: center;
  margin: auto;
  max-width: 1000px;
}

.NewsList .myButton {
  text-align: center;
  margin-top: 50px;
}

.Error .myButton {
  text-align: center;
  margin-top: 50px;
}