.App {
  text-align: center;
  background-image: url("Vanishing-Stripes.svg");
  background-position: 0px 0px;
  background-repeat: repeat;
  animation: animatedBackground 40s linear infinite;
}

.App .AppBar {
  padding-bottom: 80px;
}

.App .AppBar .icon{
  max-width: 100px;
}

.Sources {
  font-size: 10px;
  color: #616161;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
